/* grade selector */
body.section-products div#content {
	padding-top:86px;
}

body.section-products div#content div.page-content {
	width:1000px;
	padding:0;
	background:url(../images/selector-shadow.png) no-repeat right 330px;
}
body.section-products div#content div.page-content div.wrap {
	padding:0;
	width:940px;
	background:#fff url(../images/grade-selector-bg.png) no-repeat left top;
}

body.node-type-grade div#content div.page-content div.wrap {
	background:url(../images/grade-bg.png) repeat-y center top;
}

body.node-type-grade div#content div.page-content div.node {
	background:url(../images/grade-bg-top.png) no-repeat center top;
}

body.section-products div.view-content {
	padding:60px 0;
}

body.page-products div.view-content {
	padding-top:50px;
}

div.filters-form {
	padding:60px 30px;
}

div.reset p {
	float: left;
}

div.filter {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #D9D9D9;
}

div.filters-form div.form-radios,
div.filters-form div.form-checkboxes {
	margin-top:5px;
}

html.js div.filters-form div.collapsible div.form-radios,
html.js div.filters-form div.collapsible div.form-checkboxes {
}

div.filters-form input {
	margin-right: 5px;
}

div.node-type-grade div.content,
div.view-grade-selector div.attachment-before {
    float: left;
    margin-right: 30px;
    width: 316px;
		position:relative;
}

div#content-area div.node-type-grade div.content {
	margin:0;
	background:none;
	padding:40px 25px;
	width:266px;
	color:#000;
}

div.view-grade-selector ul {
	margin:0;
	padding:0;
}

div.view-grade-selector li.views-row {
	float:left;
	width:100px;
	list-style:none;
	padding:10px;
	height:100px;
	background:#eee;
	box-shadow:3px 3px 5px rgba(0,0,0,.15);
	margin:0 25px 20px 0;
	position:relative;
	overflow:hidden;
}

div.view-grade-selector li.views-row:hover {
	/*border:2px solid #999;*/
	width:104px;
	height:104px;
	margin:-2px 23px 18px -2px;
	box-shadow:2px 2px 10px rgba(0,0,0,.3);	
}

div.view-grade-selector li.views-row div.views-field-field-front-picture-fid {
	position:absolute;
	z-index:0;
	top:0;
	left:0;
	width:125px;
	height:125px;
	opacity:.8;
}

div.view-grade-selector li.views-row div.views-field-field-front-picture-fid img {
}

div.view-grade-selector div.view-content {
	width:580px;
	min-height: 800px;
	float:left;
}

div.view-grade-selector div.view-content h2 {
	font-size:1.3em;
	margin-bottom:20px;
	color:#bbb;
}

div.node-type-grade div.photo-box {
	width:624px;
	padding:20px 0;
	float:left;
}

div.node-type-grade div.photo-box img {
	display:block;
	margin:0 auto;
}


div.reset {
	border-bottom: 0px;
}

div#species {
	clear: both;
	height: 135px;
	border-top: 1px solid #D9D9D9;
	padding-top: 10px;
}

div.appearance {
	margin-bottom: 0px;
	clear: both;
}

div.length, div.thickness {
	width: 110px;
	float: left;
	padding-top: 10px;
	border-bottom: 0;
	margin-bottom: 0;
}

div.length {
	padding-left: 10px;
	border-left: 1px solid #D9D9D9;
}

div.width {
	clear: left;
	padding-top: 10px;
	border-top: 1px solid #D9D9D9;
}

div.species {
	float: left;
	height: 38px;
	width: 75px;
	padding: 0 3px;
}

div.species label {
	padding: 50px 20px;	
	display:block;
}

div.filter input,
div.filter label
 {
	cursor: pointer;
}

div.filter label {
	color:#666666;
}

div#edit-field-species-value-many-to-one-Alder-wrapper label {
	background: url(../images/alder_little.png) no-repeat center 0;
	width: 38px;
	height: 38px;
	text-align: center;
}
div#edit-field-species-value-many-to-one-Maple-wrapper label {
	background: url(../images/maple_little.png) no-repeat center 0;
	width: 38px;
	height: 38px;
	text-align: center;
}
div#edit-field-species-value-many-to-one-Ash-wrapper label {
	background: url(../images/ash_little.png) no-repeat 15px 0;
	width: 38px;
	height: 38px;
	text-align: center;
}

div.view-grade-selector div.view-content div.species-group {
	clear:left;
}

div.view-grade-selector li.views-row div.views-field-title {
	line-height:1.3;	
	width:90px;
	z-index:1;
	position:relative;
}

div.view-grade-selector li.views-row a {
	color:#000;
	font-weight:bold;
	text-decoration:none !important;
	text-shadow:0px 1px 0px #fff;
}


div.view-grade-selector div.views-field-field-category-value,
div.view-grade-selector div.views-field-field-species-value {
	z-index:1;
	text-transform:uppercase;
	color:#654;
	text-shadow:0px 1px 1px #fff;
	font-size:11px;
	position:absolute;
	bottom:5px;
	left:10px;
}

div.view-grade-selector div.alder li.views-row {
	background:url(../images/alder_thumb.jpg) no-repeat left top;
}

div.view-grade-selector div.maple li.views-row {
	background:url(../images/maple_thumb.jpg) no-repeat left top;
}

div.view-grade-selector div.ash li.views-row {
	background:url(../images/ash_thumb.jpg) no-repeat left top;
}

div.view-grade-selector div.views-field-field-grade-mark-fid {
	position:absolute;
	right:0;
	bottom:0;
	width:60px;
	height:60px;
	z-index:1;
}

div.view-grade-selector div.views-field-field-grade-mark-fid img {
	position:absolute;
	bottom:2px;
	right:2px;
}

div.view-grade-selector div.ash div.views-field-field-grade-mark-fid {
	background:url(../images/ash_leaf_small.png) no-repeat right bottom;
}

div.view-grade-selector div.maple div.views-field-field-grade-mark-fid {
	background:url(../images/maple_leaf_small.png) no-repeat right bottom;
}

div.view-grade-selector div.alder div.views-field-field-grade-mark-fid {
	background:url(../images/alder_leaf_small.png) no-repeat right bottom;
}

/* print friendly */
div#grade-selector-buttons {
	position: absolute;
	top: 48px;
	right: -591px;	
}

div#grade-selector-buttons a.button {
	float:right;
	height:auto;
	padding: 2px 12px;
	color:#333;
	font-size:10px;
	border-radius: 4px;
	text-decoration: none;
/*	font-size: 10px;
	color: white;
	background: #999;
	border-radius: 56px;
	text-decoration: none;
	*/
	font-weight:normal;
	text-shadow: 1px 1px 0px #fff;
	background: url(../images/gray-button-bg.png) repeat-x left bottom;
}

div#grade-selector-buttons a.button:hover {
	opacity:1;
	background:#ddd;
}

div.nothing {
	position: absolute;
	top: 35px;
	left: 345px;
	width: 455px;
	padding:50px;
	font-size:24px;
	line-height:1.3;
}

input#edit-reset {
	border: 0;
	background: transparent;
	color: #fff;
	float: right;
	cursor: pointer;
	padding-top: 2px;
}

body.page-products input#edit-reset {
	color: #000;
}

/* grade node */
div.node-type-grade div.photo-box {
}

div.node-type-grade div.content div.field {
	margin-bottom:20px;
}

div.node-type-grade div.content div.field-field-species {
	font-size:20px;
	color:#666;
	text-shadow:0px 1px 0px #fff;
	margin-bottom:0;
}

div.node-type-grade div.content div.field-field-category,
div.node-type-grade div.content div.field-field-rons-category,
div.node-type-grade div.content div.field-field-cutting-face {
	text-shadow:0px 1px 0px #fff;
	color:#666;
	margin-bottom:7px;
	line-height:1.4;
}

div.node-type-grade div.grade-meta {
	position:relative;
	height:100px;
	margin-top:-10px;
	margin-bottom:20px;
	
}

div.node-type-grade div.grade-meta div.category {
	position:absolute;
	bottom:-5px;
}


div.node-type-grade div.content div.field-field-cuttings {
	border-top:1px solid #D9D9D9;	
	padding-top:10px;
	margin-top:30px;
}

div.node-type-grade div.content h2.title {
	font-weight:bold;
	font-size:1.7em;
	line-height:1;
	margin:0;
	text-shadow:0px 1px 0px #fff;
}

div.node-type-grade div.field-field-grade-mark {
	width:100%;
	position:relative;
	background:url(../images/alder_leaf_big.png) no-repeat right bottom;
	height:100px;
}

div.node-type-grade div.field-field-grade-mark img {
	position:absolute;
	right:10px;
	bottom:10px;
}

div.node-type-grade div.species-Ash div.field-field-grade-mark {
	background-image:url(../images/ash_leaf_big.png);	
}

div.node-type-grade div.species-Maple div.field-field-grade-mark {
	background-image:url(../images/maple_leaf_big.png);	
}

div.node-type-grade div.content table {
	width:100%;
	line-height:1;
	font-size:10px;
}

div.node-type-grade div.content table td,
div.node-type-grade div.content table th {
	width:20px;
	padding:5px;
	border:none;
}

div.node-type-grade div.content table td {
	border-right:1px solid #D9D9D9;	
}

div.node-type-grade div.content table tbody {
	border-top:1px solid #D9D9D9;	
	border-bottom:1px solid #D9D9D9;	
	border-left:1px solid #D9D9D9;	
}

div.node-type-grade div.content table span.bullet {
	text-align:center;
	font-size:30px;
	display: block;
}

div.node-type-grade div.content table tr {
	border:none;
}

div.node-type-grade div.content table tr.odd {
	background:none;
}

div.node-type-grade div.content table tr.even,
div.node-type-grade div.content table tr.odd {
	background:none;
	border-top:1px solid #D9D9D9;	
}

h4.tipdown {
	cursor:pointer;
	-moz-user-select: none; // mozilla browsers
  	-khtml-user-select: none;
	-webkit-user-select: none;
	background:url(../images/tipdowns.png) no-repeat left 7px;
	_background-image:url(../images/tipdowns.gif);
	padding-left:15px;
	font-size:14px;
}

div.node-type-grade h4.tipdown {
	border-top:1px solid #D9D9D9;	
	font-size:14px;
	background-position:left 13px;
	padding:10px 10px 10px 15px;	
}

h4.tipdown-open {
	background-position:left -22px;
}

div.node-type-grade h4.tipdown-open { 
	background-position:left -15px;
}

div.node-type-grade div.info {
	padding-left:15px;
}


div.node-type-grade div.info-notes {
/*	overflow-x: none;
	overflow-y: auto;
	height:400px;
*/}


/* grade view controls */

div.view-controls {
	background: url(../images/bg-switch.png) no-repeat;
	_background: url(../images/bg-switch.gif) no-repeat;
	position: absolute;
	top: 60px;
	padding-top:20px;
	padding-left: 13px;
	margin-left: 574px;
	z-index: 999;
	height: 177px;
	width: 64px;
}

div.view-controls.no-cuts {
	background: url(../images/bg-switch-short.png) no-repeat;
	_background: url(../images/bg-switch-short.gif) no-repeat;
}

div#back a,
div#front a,
div#cuts a {
	background: url(../images/sprite-switch-off-on.png) no-repeat 0 -31px;
	_background: url(../images/sprite-switch-off-on.gif) no-repeat 0 -31px;
}

div#front a {
	display: block;
	height: 31px;
	width: 32px;
	overflow: hidden;
	margin-bottom: 18px;
	margin-top: 3px;
}

div#front a.selected {
	background-position: 0 0;
}

div#front a span {
	margin-left: -500px;
}

div#back {
	margin-top: -4px;
}

div#back a {
	display: block;
	height: 31px;
	width: 32px;
	overflow: hidden;
	margin-bottom: 12px;
}

div#back a.selected {
	background-position: 0 0;
}

div#back a span {
	margin-left: -500px;
}

div.hide {
	display: none;
}

div#cuts a {
	display: block;
	height: 31px;
	width: 32px;
	overflow: hidden;
}

div#cuts a.selected {
	background-position: 0 0;
}

div#cuts a span {
	margin-left: -500px;
}

/* footer */

/*
body.node-type-grade div#footer,
body.page-grade-selector div#footer {
	text-align: center;
	color: #89282c !IMPORTANT;
	font-size: .9em;
	margin-bottom: 30px;
	height: 65px;
}
  	
body.node-type-grade div#footer a,
body.page-grade-selector div#footer a,
body.node-type-grade div#footer a:link,
body.page-grade-selector div#footer a:link,
 {
  	color: #89282c;
  	text-decoration: none;
}
body.node-type-grade div#footer-text,
body.page-grade-selector div#footer-text {
	float: left;
	margin-top: 45px;
	margin-left: 15px;
}

body.node-type-grade div#cascade-footer-logo,
body.page-grade-selector div#cascade-footer-logo {
	background: url(../images/cascade_footerlogo.gif);
	width: 111px;
	height: 61px;
	float: left;
}

body.node-type-grade div#other-logos,
body.page-grade-selector div#other-logos {
	width: 250px;
	float: right;
}

body.node-type-grade div#nhla,
body.page-grade-selector div#nhla {
	background: url(../images/nhla.gif);
	width: 110px;
	height: 48px;
	float: left;
}

body.node-type-grade div#fsc,
body.page-grade-selector div#fsc {
	background: url(../images/fsc.gif);
	width: 105px;
	height: 56px;
	margin-left: 15px;
	float: left;
}
*/

/* hide the badge */

body.page-products a#badge {
	display: none;
}

/* zoom */

.zoomPad{
	position:relative;
	cursor:crosshair;
}


.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}


.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
  z-index:101;
  cursor:crosshair;
}

.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
  z-index:101;

}

.zoomWindow{
	position:absolute;
	left:130%;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
  z-index:10000;
  z-index:110;
    margin-left: 87px;
}
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:10px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:120;
  -moz-opacity:0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;


}
.zoomWrapperImage img{
  border:0px;
  display:block;
  position:absolute;
  z-index:101;
}

.zoomIframe{
  z-index: -1;
  filter:alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position:absolute;
  display:block;
}
