/* Yes, we all hate IE7 too. */
/* Drupal admin tables. */
/* line 6, ../sass/ie7.sass */
#content tr.even th,
#content tr.even td,
#content tr.odd th,
#content tr.odd td {
  border-bottom: 1px solid #cccccc;
}

/* Minor fix for primary and secondary tabs in IE */
/* line 14, ../sass/ie7.sass */
ul .primary li a:hover,
ul .secondary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none;
}

/* negate the product tile hover */
div.view-grade-selector li.views-row:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    height: 100px;
    margin: 0 25px 20px 0;
    width: 100px;
}

div.left, div.right {
	zoom:1;
}

div#node-94 div.content div.right div.video-clips {
	_left:-480px;
}

/* IE 8 */

.lpi {
	overflow: hidden;
}

body.page-dev-log-procurement div#log-procurement-info {
	position: relative;
}

body.page-dev-log-procurement div#log-procurement-info .wrap {
	display: block;
	width: 980px; 
	height: 400px;
	/* white-space: nowrap; */
	overflow: hidden;
	/* margin-top: -400px; */
	position: relative;
	top: -200px;
}

